@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

.hero{
    width:100vw;
    height: 90vh;
    overflow: hidden;
    position: relative;
}

.video {
    width: 100%; /* Use viewport width for full width */
    height: 100%; /* Use viewport height for 80% height */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover; /* Cover whole width and height */
    overflow: hidden;/* Hide overflow */
}

.overlay{
    position: absolute;
    top:0;
    left:0;
    width:95%;
    height:100%;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding-left: 5%;
}

.heading{
    color: white;
    font-size: 7rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin:0;
    margin-top:5%;
}

.heading span{
    color: #0BDA51;
}

.tagline{
    color: #0BDA51;
    font-size: 2rem;
    font-weight: 300;
    font-family: "Titillium Web", sans-serif;
    letter-spacing: 0.5rem;
    margin-top:-2%;
}

.desc{
    color: white;
    width: 70%;
    font-size: 1.5rem;
    font-weight: 100;
    font-family: 'Poppins', sans-serif;
}




